<!-- <h1>Products#edit</h1>
<p>Find me in app/views/products/edit.html.erb</p> -->

<h1>Editing product</h1>

<%= render 'form' %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>